<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>

<body>
  <main id="main-holder">
    <h1 id="register-header">Register</h1>

    <p>@ViewData["Message"]</p>

    <form method="post" id="register-form">
      <input type="text" name="name" id="name-field" class="register-form-field" placeholder="Name">
      <input type="text" name="email" id="email-field" class="register-form-field" placeholder="Email">
      <input type="number" name="age" id="age-field" class="register-form-field" placeholder="Age">
      <input type="password" name="password" id="password-field" class="register-form-field" placeholder="Password">
      <input type="submit" value="Register" id="register-form-submit">
    </form>

  </main>
</body>

</html>