@model UserCRUD.Models.Client

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="clientId" class="control-label">Client Id</label>
                <input asp-for="clientId" class="form-control" />
                <span asp-validation-for="clientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="clientSecret" class="control-label">Client secret</label>
                <input asp-for="clientSecret" class="form-control" />
                <span asp-validation-for="clientSecret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
